In [10]:
# pattern-1 #

n=int(input("Enter the number of rows= "))
for i in range (1,n+1):
    print("*"*n)

Enter the number of rows= 5
*****
*****
*****
*****
*****

In [12]:
# pattern-2 #

n=int(input("Enter the number of rows= "))
for i in range (1,n+1):
    for j in range (1,n+1):
        print(i,end="")
    print()

Enter the number of rows= 10
1111111111
2222222222
3333333333
4444444444
5555555555
6666666666
7777777777
8888888888
9999999999
10101010101010101010

In [13]:
# pattern-3 #

n=int(input("Enter the number of rows= "))
for i in range (1,n+1):
    for j in range (1,n+1):
        print(j,end="")
    print()

Enter the number of rows= 10
12345678910
12345678910
12345678910
12345678910
12345678910
12345678910
12345678910
12345678910
12345678910
12345678910

In [15]:
# pattern-4 #

n=int(input("Enter the number of rows= "))
for i in range (1,n+1):
    for j in range (1,n+1):
        print(chr(64+i),end="")
    print()

Enter the number of rows= 10
AAAAAAAAAA
BBBBBBBBBB
CCCCCCCCCC
DDDDDDDDDD
EEEEEEEEEE
FFFFFFFFFF
GGGGGGGGGG
HHHHHHHHHH
IIIIIIIIII
JJJJJJJJJJ

In [16]:
# pattern-5 #

n=int(input("Enter the number of rows= "))
for i in range (1,n+1):
    for j in range (1,n+1):
        print(chr(64+j),end="")
    print()

Enter the number of rows= 10
ABCDEFGHIJ
ABCDEFGHIJ
ABCDEFGHIJ
ABCDEFGHIJ
ABCDEFGHIJ
ABCDEFGHIJ
ABCDEFGHIJ
ABCDEFGHIJ
ABCDEFGHIJ
ABCDEFGHIJ

In [17]:
# pattern-6 #

n=int(input("Enter the number of rows= "))
for i in range (1,n+1):
    for j in range (1,n+1):
        print(n+1-i,end="")
    print()

Enter the number of rows= 10
10101010101010101010
9999999999
8888888888
7777777777
6666666666
5555555555
4444444444
3333333333
2222222222
1111111111

In [1]:
# pattern-6 #

n=int(input("Enter the number of rows= "))
for i in range (1,n+1):
    for j in range (1,n+1):
        print(n+1-j,end="")
    print()

Enter the number of rows= 10
10987654321
10987654321
10987654321
10987654321
10987654321
10987654321
10987654321
10987654321
10987654321
10987654321

In [2]:
# pattern-7 #

n=int(input("Enter the number of rows= "))
for i in range (1,n+1):
    for j in range (1,n+1):
        print(chr(65+n-i),end="")
    print()

Enter the number of rows= 10
JJJJJJJJJJ
IIIIIIIIII
HHHHHHHHHH
GGGGGGGGGG
FFFFFFFFFF
EEEEEEEEEE
DDDDDDDDDD
CCCCCCCCCC
BBBBBBBBBB
AAAAAAAAAA

In [3]:
# pattern-8 #

n=int(input("Enter the number of rows= "))
for i in range (1,n+1):
    for j in range (1,n+1):
        print(chr(65+n-j),end="")
    print()

Enter the number of rows= 10
JIHGFEDCBA
JIHGFEDCBA
JIHGFEDCBA
JIHGFEDCBA
JIHGFEDCBA
JIHGFEDCBA
JIHGFEDCBA
JIHGFEDCBA
JIHGFEDCBA
JIHGFEDCBA

In [4]:
# pattern-9 #

n=int(input("Enter the number of rows= "))
for i in range (1,n+1):
    for j in range (1,i+1):
        print("*",end="")
    print()

Enter the number of rows= 10
*
**
***
****
*****
******
*******
********
*********
**********

In [5]:
# pattern-9 #

n=int(input("Enter the number of rows= "))
for i in range (1,n+1):
    print("*"*i)

Enter the number of rows= 10
*
**
***
****
*****
******
*******
********
*********
**********

In [8]:
# pattern-10 #

n=int(input("Enter the number of rows= "))
for i in range (1,n+1):
    for j in range (1,i+1):
        print(i,end="")
    print()

Enter the number of rows= 10
1
22
333
4444
55555
666666
7777777
88888888
999999999
10101010101010101010

In [9]:
# pattern-11 #

n=int(input("Enter the number of rows= "))
for i in range (1,n+1):
    for j in range (1,i+1):
        print(j,end="")
    print()

Enter the number of rows= 10
1
12
123
1234
12345
123456
1234567
12345678
123456789
12345678910

In [10]:
# pattern-12 #

n=int(input("Enter the number of rows= "))
for i in range (1,n+1):
    for j in range (1,i+1):
        print(chr(64+i),end="")
    print()

Enter the number of rows= 10
A
BB
CCC
DDDD
EEEEE
FFFFFF
GGGGGGG
HHHHHHHH
IIIIIIIII
JJJJJJJJJJ

In [11]:
# pattern-13 #

n=int(input("Enter the number of rows= "))
for i in range (1,n+1):
    for j in range (1,i+1):
        print(chr(64+j),end="")
    print()

Enter the number of rows= 10
A
AB
ABC
ABCD
ABCDE
ABCDEF
ABCDEFG
ABCDEFGH
ABCDEFGHI
ABCDEFGHIJ

In [13]:
# pattern-14 #

n=int(input("Enter the number of rows= "))
for i in range (1,n+1):
    for j in range (1,n+2-i):
        print("*",end="")
    print()

Enter the number of rows= 10
**********
*********
********
*******
******
*****
****
***
**
*

In [29]:
# pattern-15 #

n=int(input("Enter the number of rows= "))
for i in range (1,n+1):# i=1->j=10 times 1, i=2->j=9 times 2, i=3->j=8 times 3,i=4->J=7 times 4,
    for j in range (1,n+2-i):#i=5->j=6 times 5, i=6->j=5 times 6,
        print(i,end="")
    print()

Enter the number of rows= 10
1111111111
222222222
33333333
4444444
555555
66666
7777
888
99
10

In [32]:
# pattern-16 #

n=int(input("Enter the number of rows= "))
for i in range (1,n+1):#i=1=>j=1 to 10,i=2=> j=1 to 9, i=3=>j=1 to 8, i=4=>j=1 to 7, 
    for j in range (1,n+2-i):# i=5=>j=1 to 6, i=6=>j=1 to 5, i=7=>j=1 to 4,i=8=>j=1 to 3, 
        print(j,end="")#i=9=>j=1 to 2, i=10=>j=1,
    print()

Enter the number of rows= 10
12345678910
123456789
12345678
1234567
123456
12345
1234
123
12
1

In [33]:
# pattern-17 #

n=int(input("Enter the number of rows= "))
for i in range (1,n+1):
    for j in range (1,n+2-i):
        print(chr(64+i),end="")
    print()

Enter the number of rows= 10
AAAAAAAAAA
BBBBBBBBB
CCCCCCCC
DDDDDDD
EEEEEE
FFFFF
GGGG
HHH
II
J

In [34]:
# pattern-18 #

n=int(input("Enter the number of rows= "))
for i in range (1,n+1):
    for j in range (1,n+2-i):
        print(chr(64+j),end="")
    print()

Enter the number of rows= 10
ABCDEFGHIJ
ABCDEFGHI
ABCDEFGH
ABCDEFG
ABCDEF
ABCDE
ABCD
ABC
AB
A

In [36]:
# pattern-19 #

n=int(input("Enter the number of rows= "))
for i in range (1,n+1):
    for j in range (1,n+2-i):
        print(n+1-i,end="")
    print()

Enter the number of rows= 10
10101010101010101010
999999999
88888888
7777777
666666
55555
4444
333
22
1

In [37]:
# pattern-20 #

n=int(input("Enter the number of rows= "))
for i in range (1,n+1):
    for j in range (1,n+2-i):
        print(n+1-j,end="")
    print()

Enter the number of rows= 10
10987654321
1098765432
109876543
10987654
1098765
109876
10987
1098
109
10

In [38]:
# pattern-21 #

n=int(input("Enter the number of rows= "))
for i in range (1,n+1):
    for j in range (1,n+2-i):
        print(chr(65+n-i),end="")
    print()

Enter the number of rows= 10
JJJJJJJJJJ
IIIIIIIII
HHHHHHHH
GGGGGGG
FFFFFF
EEEEE
DDDD
CCC
BB
A

In [39]:
# pattern-22 #

n=int(input("Enter the number of rows= "))
for i in range (1,n+1):
    for j in range (1,n+2-i):
        print(chr(65+n-j),end="")
    print()

Enter the number of rows= 10
JIHGFEDCBA
JIHGFEDCB
JIHGFEDC
JIHGFED
JIHGFE
JIHGF
JIHG
JIH
JI
J

In [14]:
# pattern-23 #

n=int(input("Enter the number of rows= "))
for i in range (1,n+1):
    print(" "*(n-i),"* "*i,end=" ")
    print()

Enter the number of rows= 10
          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *
 * * * * * * * * * *

In [1]:
# pattern-24 #

n=int(input("Enter the number of rows= "))
for i in range (1,n+1):
    print(" "*(n-i),end="")
    for j in range (1,i+1):
        print("*",end=" ")
    print()

Enter the number of rows= 10
         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *
* * * * * * * * * *

In [50]:
# pattern-25 #

n=int(input("Enter the number of rows= "))
for i in range (1,n+1):
    print(" "*(n-i),(str(i)+" ")*i)
    print()

Enter the number of rows= 10
          1

         2 2

        3 3 3

       4 4 4 4

      5 5 5 5 5

     6 6 6 6 6 6

    7 7 7 7 7 7 7

   8 8 8 8 8 8 8 8

  9 9 9 9 9 9 9 9 9

 10 10 10 10 10 10 10 10 10 10