In [2]:
# pattern-26 #

n=int(input("Enter the number of rows= "))
for i in range (1,n+1):
    print(" "*(n-i),end="")
    for j in range (1,i+1):
        print(j,end=" ")
    print()

Enter the number of rows= 10
         1
        1 2
       1 2 3
      1 2 3 4
     1 2 3 4 5
    1 2 3 4 5 6
   1 2 3 4 5 6 7
  1 2 3 4 5 6 7 8
 1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10

In [5]:
# pattern-27 #

n=int(input("Enter the number of rows= "))
for i in range (1,n+1):
    print(" "*(n-i),(chr(64+i)+" ")*i)
    print()

Enter the number of rows= 10
          A

         B B

        C C C

       D D D D

      E E E E E

     F F F F F F

    G G G G G G G

   H H H H H H H H

  I I I I I I I I I

 J J J J J J J J J J

In [6]:
# pattern-28 #

n=int(input("Enter the number of rows= "))
for i in range (1,n+1):
    print(" "*(n-i),end="")
    for j in range (1,i+1):
        print(chr(64+j),end=" ")
    print()

Enter the number of rows= 10
         A
        A B
       A B C
      A B C D
     A B C D E
    A B C D E F
   A B C D E F G
  A B C D E F G H
 A B C D E F G H I
A B C D E F G H I J

In [9]:
# pattern-29 #

n=int(input("Enter the number of rows= "))
for i in range (1,n+1):
    print(" "*(i-1),"*"*(n+1-i))

Enter the number of rows= 10
 **********
  *********
   ********
    *******
     ******
      *****
       ****
        ***
         **
          *

In [11]:
# pattern-30 #

n=int(input("Enter the number of rows= "))
for i in range (1,n+1):
    print(" "*(i-1),(str(n+1-i)+"")*(n+1-i))

Enter the number of rows= 5
 55555
  4444
   333
    22
     1

In [13]:
# pattern-31 #

n=int(input("Enter the number of rows= "))
for i in range (1,n+1):
    print(" "*(i-1),end="")
    for j in range (1,n+2-i):
        print(j,end="")
    print()

Enter the number of rows= 5
12345
 1234
  123
   12
    1

In [17]:
# pattern-32 #

n=int(input("Enter the number of rows= "))
for i in range (1,n+1):
    print(" "*(i-1),(str(chr(65+n-i))+"")*(n+1-i))

Enter the number of rows= 5
 EEEEE
  DDDD
   CCC
    BB
     A

In [20]:
# pattern-33 #

n=int(input("Enter the number of rows= "))
for i in range (1,n+1):
    print(" "*(i-1),end="")
    for j in range (65,66+n-i):
        print(chr(j),end="")
    print()

Enter the number of rows= 5
ABCDE
 ABCD
  ABC
   AB
    A

In [22]:
# pattern-34 #

n=int(input("Enter the number of rows= "))
for i in range (1,n+1):
    print(" "*(n-i),"* "*(2*i-i))

Enter the number of rows= 5
     *
    * *
   * * *
  * * * *
 * * * * *

In [24]:
# pattern-35 #

n=int(input("Enter the number of rows= "))
for i in range (1,n+1):
    print(" "*(n-i),(str(i)+" ")*(2*i-i))

Enter the number of rows= 5
     1
    2 2
   3 3 3
  4 4 4 4
 5 5 5 5 5

In [25]:
# pattern-36 #

n=int(input("Enter the number of rows= "))
for i in range (1,n+1):
    print(" "*(n-i),(str(chr(64+i)+" "))*(2*i-i))

Enter the number of rows= 5
     A
    B B
   C C C
  D D D D
 E E E E E

In [26]:
# pattern-37 #

n=int(input("Enter the number of rows= "))
for i in range (1,n+1):
    print(" "*(n-i),(str(chr(64+2*i-1)+" "))*(2*i-i))

Enter the number of rows= 5
     A
    C C
   E E E
  G G G G
 I I I I I

In [28]:
# pattern-38 #

n=int(input("Enter the number of rows= "))
for i in range (1,n+1):
    print(" "*(n-i),end="")
    for j in range(1,2*i):
        print(j,end="")
    print()

Enter the number of rows= 5
    1
   123
  12345
 1234567
123456789

In [29]:
# pattern-39 #

n=int(input("Enter the number of rows= "))
for i in range (1,n+1):
    print(" "*(n-i),end="")
    for j in range(2*i-1,0,-1):
        print(j,end="")
    print()

Enter the number of rows= 5
    1
   321
  54321
 7654321
987654321

In [30]:
# pattern-40 #

n=int(input("Enter the number of rows= "))
for i in range (1,n+1):
    print(" "*(n-i),end="")
    for j in range(65,65+2*i-1):
        print(chr(j),end="")
    print()

Enter the number of rows= 5
    A
   ABC
  ABCDE
 ABCDEFG
ABCDEFGHI

In [31]:
# pattern-41 #

n=int(input("Enter the number of rows= "))
for i in range (1,n+1):
    print(" "*(n-i),end="")
    for j in range(65+2*i-2,64,-1):
        print(chr(j),end="")
    print()

Enter the number of rows= 5
    A
   CBA
  EDCBA
 GFEDCBA
IHGFEDCBA

In [39]:
# pattern-42 #

n=int(input("Enter the number of rows= "))
for i in range (1,n+1):
    print(" "*(n-i),end="")
    for j in range(1,i):
        print(i-j,end=" ")
    for k in range(0,i):
        print(k,end=" ")
    print()

Enter the number of rows= 5
    0
   1 0 1
  2 1 0 1 2
 3 2 1 0 1 2 3
4 3 2 1 0 1 2 3 4

In [40]:
# pattern-43 #

n=int(input("Enter the number of rows= "))
for i in range (1,n+1):
    print(" "*(n-i),end="")
    for j in range(1,i):
        print(chr(i-j+65),end=" ")
    for k in range(0,i):
        print(chr(k+65),end=" ")
    print()

Enter the number of rows= 5
    A
   B A B
  C B A B C
 D C B A B C D
E D C B A B C D E

In [49]:
# pattern-44 #

n=int(input("Enter the number of rows= "))
for i in range (1,n+1):
    print(" "*(n-i),end="")
    for j in range(1,i+1):
        print(j,end=" ")
    for k in range(i-1,0,-1):
        print(k,end=" ")
    print()

Enter the number of rows= 5
    1
   1 2 1
  1 2 3 2 1
 1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

In [50]:
# pattern-45 #

n=int(input("Enter the number of rows= "))
for i in range (1,n+1):
    print(" "*(n-i),end="")
    for j in range(1,i+1):
        print(chr(64+j),end=" ")
    for k in range(1,i):
        print(chr(64+k),end=" ")
    print()

Enter the number of rows= 5
    A
   A B A
  A B C A B
 A B C D A B C
A B C D E A B C D

In [51]:
# pattern-46 #

n=int(input("Enter the number of rows= "))
for i in range (1,n+1):
    print(" "*(n-i),end="")
    for j in range(1,i+1):
        print(n+1-j,end=" ")
    print()

Enter the number of rows= 5
    5
   5 4
  5 4 3
 5 4 3 2
5 4 3 2 1

In [52]:
# pattern-47 #

n=int(input("Enter the number of rows= "))
for i in range (1,n+1):
    print(" "*(i-1),end="")
    for j in range(1,n+2-i):
        print("*",end=" ")
    for k in range(1,n+1-i):
        print("*",end=" ")
    print()

Enter the number of rows= 5
* * * * * * * * *
 * * * * * * *
  * * * * *
   * * *
    *

In [53]:
# pattern-48 #

n=int(input("Enter the number of rows= "))
for i in range (1,n+1):
    print(" "*(i-1),end="")
    for j in range(0,n+1-i):
        print(n+1-i,end=" ")
    for k in range(1,n+1-i):
        print(n+1-i,end=" ")
    print()

Enter the number of rows= 5
5 5 5 5 5 5 5 5 5
 4 4 4 4 4 4 4
  3 3 3 3 3
   2 2 2
    1

In [55]:
# pattern-49 #

n=int(input("Enter the number of rows= "))
for i in range (1,n+1):
    print(" "*(i-1),end="")
    for j in range(0,n+1-i):
        print(2*n+1-2*i,end=" ")
    for k in range(1,n+1-i):
        print(2*n+1-2*i,end=" ")
    print()

Enter the number of rows= 5
9 9 9 9 9 9 9 9 9
 7 7 7 7 7 7 7
  5 5 5 5 5
   3 3 3
    1

In [1]:
# pattern-50 #

n=int(input("Enter the number of rows= "))
for i in range (1,n+1):
    print(" "*(i-1),end="")
    for j in range(1,n+2-i):
        print(j,end=" ")
    for k in range(2,n+2-i):
        print(n+k-i,end=" ")
    print()

Enter the number of rows= 5
1 2 3 4 5 6 7 8 9
 1 2 3 4 5 6 7
  1 2 3 4 5
   1 2 3
    1